/* Fertilizer.css */
* {
}

.custom-input {
  background-color: #d1fae5; /* Light green background */
  border: 2px solid #10b981; /* Dark green border */
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width */
  margin-bottom: 10px; /* Add some space between inputs */
}

.custom-input:focus {
  outline: none; /* Remove the default focus outline */
  color:black;
  border-color: #065f46; /* Darker green border on focus */
}

/* Additional styles for labels if needed */
label {
  display: block;
  margin-bottom: 6px;
  /* font-weight: bold; */
  color:black;
}

/* Styles for the form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the submit button */
.btn-submit {
  color:black;
  margin-top: 20px;
  background: green;
  padding: 10px 20px;
  border: 1px solid #10b981;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #065f46; /* Darker green on hover */
  color: White;
}
